@media(min-width:868px){
	.container{
	border:10px solid black;
	display:flex;
	align-items:center;
	flex-flow:row wrap;
	width:80%;
	margin:auto;
	justify-content:center;
	font-style:italic;
	text-decoration:underline;
	text-decoration-style:dotted;
	text-shadow:2px 0.5px firebrick;
	font-size:150%;
	letter-spacing:2px;
	font-family:Arial, Helvetica, sans-serif;
	}
}

img{
	border:10px double #555;
}

img:hover{
	background-color:orange;
}

img:active{
	background-color:purple;
}

body{
	margin:auto;
	line-height:1.6em;
	background-color:#f4f4f4;
	font-family:Arial, Helvetica, sans-serif;
}

.header{
	padding:9px;
	text-align:center;
	color:555555;
}

.title{
	top:0;
	position:sticky;
	opacity:0.6;
	padding:9px;
	border:16px;
	background-color:blue;
	color:#fff;
}

.side-menu{
	margin-top:26px;
	padding:10px;
	padding-bottom:600px;
	border:3px solid grey;
	float:left;
}

.imagini{
	border:10px groove red;
	align-self:center;
	align-items:center;
	text-align:center;
	margin:15px;
	padding:5px;
	line-height:16px;
  	animation:mymove 1.7s 3;
}

@keyframes mymove {
  50% {line-height:300px;}
}

.imagini-first{
	flex:2;
}