@media(min-width:868px){
	.container{
	border:10px solid black;
	display:flex;
	align-items:center;
	flex-flow:row wrap;
	width:80%;
	margin:auto;
	justify-content:center;
	font-style:italic;
	text-decoration:underline;
	text-decoration-style:dotted;
	text-shadow:2px 0.5px firebrick;
	font-size:150%;
	letter-spacing:2px;
	font-family:Arial, Helvetica, sans-serif;
	}
}

img{
	border:10px double #555;
}

img:hover{
	background-color:orange;
}

img:active{
	background-color:purple;
}

body{
	margin:auto;
	line-height:1.6em;
	background-color:#f4f4f4;
	font-family:Arial, Helvetica, sans-serif;
}

.header{
	padding:9px;
	text-align:center;
	color:555555;
}

.title{
	top:0;
	position:sticky;
	opacity:0.6;
	padding:9px;
	border:16px;
	background-color:blue;
	color:#fff;
}

.side-menu{
	margin-top:26px;
	padding:10px;
	padding-bottom:600px;
	border:3px solid grey;
	float:left;
	display: inline;
}

.tinta-mare:hover{
	background-color:blue;
}

.tinta-medie:hover{
	background-color:red;
}

.tinta-mica:hover{
	background-color:blue;
}

.tintele{
	display:flex;
	flex-direction: column;
	align-items:center;
}

.tinta-mica{
	position:absolute;
  	background-color:red;
  	border-radius:50%;
  	border:3px solid black;
  	right:15px;
  	top:15px;
  	left:15px;
  	bottom:15px;
}

.tinta-medie{
	position:absolute;
  	background-color:blue;
  	border-radius:50%;
  	border:3px solid black;
  	right:15px;
    left:15px;
    top:15px;
    bottom:15px;
}

.tinta-mare{
	position:relative;
  	height:100px;
  	width:100px;
  	background-color:red;
  	border-radius:50%;
  	border:3px solid black;
  	margin-top:20px;
}

.imagini{
	border:10px groove red;
	align-self:center;
	align-items:center;
	text-align:center;
	margin:15px;
	padding:5px;
	line-height:16px;
  	animation:mymove 1.7s 0;
}

@keyframes mymove {
  50% {line-height:300px;}
}

.imagini-first{
	flex:2;
}

/*
.circle{
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    border: blue solid 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
.circle::before {
    content: "";
    background-color: blue;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
*/
.circle{
	margin:10px auto;
    position:relative;
    display:flex;
    background-color:red;
    justify-content:center;
    align-items:center;
    border:black solid 3px;
    border-radius:50%;
    height:100px;
    width:100px;
}
.circle::before {
    content:"";
    background-color:blue;
    border:black solid 3px;
    border-radius:50%;
    height:70%;
    width:70%;
}

.circle::after {
    content:"";
	position:absolute;
    background-color:red;
    border:black solid 3px;
    border-radius: 50%;
    height:30%;
    width:30%;
}

.circle:hover,
.circle:hover::after{
	background-color:blue;
}

.circle:hover::before{
	background-color:red;
}
